@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: #0E0E1B;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;

}

#nav-menu {
  list-style-type: none;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 20px;

}

nav .logo {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

nav ul li a.active,
nav ul li a:hover {
  color: #111;
  background: #fff;
}

nav .menu-btn i {
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked~.menu-btn i:before {
    content: "\f00d";
  }

  nav ul {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked~ul {
    left: 0;
  }

  nav ul li {
    width: 100%;
    margin: 40px 0;
  }

  nav ul li a {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked~ul li a {
    margin-left: 0px;
  }

  nav ul li a.active,
  nav ul li a:hover {
    background: none;
    color: cyan;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}

.content div {
  font-size: 40px;
  font-weight: 700;
}

/* ===================================== home*/
body {
  background-color: #161627;
}

#home {
  padding-top: 150px;
  width: 90%;
  margin: auto;
  text-align: center;
  color: white;
}

#home>img {
  width: 270px;
  height: 255px;
  border-radius: 50%;
}

.home-img {
  border: 2px solid red;
}

/* ===================================== about*/

#about {
  padding-top: 178px;
  /* border: 1px solid rebeccapurple; */
  /* height: 500px; */
  /* margin-top: 1500px; */
  color: white;
  width: 90%;
  margin: auto;
}

#about>h1 {
  text-align: center;
  color: white;
}

#about>div {
  margin-top: 40px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  padding: 20px;
  /* border: 2px solid red; */
  text-align: center;
  background-color: rgb(37, 42, 42);
}

#aboutdiv {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 40px;
  row-gap: 20px;
}

#aboutdiv>div {
  background-color: white;
  color: black;
  padding: 5px;
  font-weight: 7px;
}

#about.about.section {
  color: white;
}

#user-detail-intro {
  color: white;
}

/* =======================================skills */


#skills {
  /* border: 1px solid rebeccapurple; */
  /* height: 500px; */
  padding-top: 100px;
  margin-top: 100px;
  color: white;
  text-align: center;
}

#skills>div {
  padding-top: 50px;
}

#skills .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 960px;
  margin: 0 auto;
}

.skills-card {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  text-align: center;
  background-color: #5e00bd;
  box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease;
  border-radius: 10px;
  padding-top: 30px;
}

.skills-card:hover {
  transform: translateY(-10px);
}

.skills-card-img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}

.skills-card-name {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  #skills {
    width: 90%;
    margin: auto;
  }

  #skills .container {
    flex-direction: column;
  }

  .skills-card {
    width: 100%;
  }

  
}

/* =======================================projects */

#projects {
  /* border: 1px solid rebeccapurple; */
  /* height: 500px; */
  color: white;
  text-align: center;
  width: 90%;
  margin: auto;
  padding-top: 100px;
}

#projectsdiv {
  padding-top: 50px;
  width: 100%;
  display: grid;
  /* flex-wrap: wrap; */
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.project-card {
  width: 100%;
  border: 1px solid red;
  padding: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: black
}

.project-card>img {
  width: 100%;
}

.project-link {
  width: 100%;
  height: auto;
  /* border:2px solid cyan; */
  display: flex;
  justify-content: space-around;
  /* border: 1px solid blue; */

}

.project-link a {
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  background: rgb(24, 95, 175);
  border-radius: 5px;
  padding: 10px;
}



/* ==================calender */
#calendercss {
  padding-top: 20px;
  width: 90%;
  margin: auto;
  color: white;
}
#graph{
  padding-top: 50px;
  width: 90%;
  margin: auto;
}
#graph1{
  padding-top: 80px;
}
#gitstatus{
  color: white;
  text-align: center;
  padding-top: 200px;
}


/* ==================contact */
#contact {
  border: 1px solid rebeccapurple;
  height: 500px;
  
}
#ccontant{
  margin: auto;
  width: 90%;
  text-align: center;
  color: white;
  border: 1px solid red;
  margin-top: 120px;
}

#cdcontact{
  width: 90%;
  margin: auto;
  display: flex;
}










#resume {
  border: 1px solid rebeccapurple;
  height: 500px;
}


/* #home{
  
  gap: 20px;
}
#left-home{
  width: 100%;
}
#right-home{
  width: 100%;
}
#left-home>img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#right-home>img{
  width: 100%;
  height: 100%;
 border-radius: 50%;
}
@media (min-width:0px){
  #home{
    width: 90%;
    margin: auto;
    /* height: 600px; */
/* } */
/* #home>div{
    width: 100%;
    height: 100%;
  }
}  */
/* @media (min-width:768px) and (max-width:2023px) {
  #home{
    width: 90%;
    margin: auto;
    display: flex;
    height: 600px;
  }
  #left-home{
    width: 40%;
    height: 100%;
  }
  #right-home{
    width: 60%;
    height: 100%;
  }
} */

/* ===================================== about*/